* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* for 1rem=10px */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
}


/******************************GRID TEMPLATE START******************************/

header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
footer {grid-area: footer;}

body {
    display: grid;
    grid-template-areas:
        'header header'
        'aside  main'
        'footer footer';
    grid-template-columns: 1fr 8fr;
}

/******************************GRID TEMPLATE END******************************/



/******************HEADER START*******************/

header {
    background-color: rgb(19, 25, 51);

    display: grid;
    grid-template-columns: 4fr 5.5fr 1.5fr;
    align-items: center;
    color: white;
    padding: 1.5rem 0 1rem 0;
    
}

header > img:first-child {
    margin: auto;
    height: 3.5rem;
    position: relative;
    bottom: 0.3rem;
}

#navigation-bar {
    display: flex;
    gap: 4rem;
    margin-left: auto;
    margin-right: 2%;
}

#navigation-bar > a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
}

#navigation-bar > a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: -0.5rem;
    left: 0.09rem;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.25s ease;
}

#navigation-bar > a:hover::after {
    transform: scaleX(1);
}

#dropdown-categories {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

#dropdown-arrow {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.6rem solid #fff;
    margin-top: 0.4rem;
}



/***night mode button start***/

#nightmode {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgb(19, 25, 51);
    background-image: url(images/design-icons/nightmode.svg);
    background-repeat: no-repeat;
    margin: auto;
}


#nightmode:hover {
    cursor: pointer;
    filter: brightness(60%);
    box-shadow: 0 0 20px black;
}



/***night mode button end***/
/******************HEADER END*******************/


@media (600px < width < 992px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    #navigation-bar {
        gap: 2rem;
        margin: unset;
    }
}


@media (width < 600px) {
    header {
        display: flex;
        justify-content: flex-end;
    }

    header > img:first-child {
        margin-right: auto  ;
    }

    #navigation-bar {
        order: 3;
        gap: 1.5rem;
        margin: unset;
    }
}